<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>aide</id>
    <version>$VERSION</version>
    <title>Aide</title>
    <authors>Accreation</authors>
    <projectUrl>https://github.com/accreation/aide</projectUrl>
    <license type="expression">AGPL-3.0</license>
    <description>The package.json for your AI development environment</description>
    <releaseNotes>https://github.com/accreation/aide/releases/tag/v$VERSION</releaseNotes>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>
</package>
